body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #2c2c2c ;
    
}


.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.modal-content {
    max-height: 95%;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    position: relative;
}

/* Botón cerrar */
.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: red;
    cursor: pointer;
}

/* Título */
.modal-content h2 {
    text-align: center;
    color: red;
    margin: 0 0 15px 0;
    font-weight: bold;
}


label {
    display: block;
    margin: 8px 0 3px;
    font-size: 14px;
    color: red;
}

/* Inputs */
input[type="text"],
textarea {
    background-color: #aeaeae;
    width: 100%;
    padding: 6px;
    border: 1px solid #555;
    border-radius: 4px;
    margin-bottom: 8px;
}

textarea {
    height: 70px;
    resize: none;
}

input[type="radio"]{
    cursor: pointer;
}


.section_v {
    margin: 15px 0 5px;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.section_v span {
    font-size: 12px;
    color: red;
    font-weight: bold;
}

/* Opciones en  columnas */
.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
    margin-bottom: 10px;
}


.opciones label {
    color: black;
    font-weight: normal;
}

/* Botón CREAR */
.crear {
    display: block;
    width: 120px;
    margin: 15px auto 0;
    background: red;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
}